.container {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  min-width: 100vw;

}



  .bg-svg-line-icon {

    position: absolute;

    .svg-line {
      fill: none;
      stroke: #000;
      stroke-linecap: round;
    }
    // 初始位置在中心
    &.at-center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.6s ease-in-out;
    }
    // 动画到指定位置
    &.animate-to-position {
      transition: all 0.6s ease-in-out;
    }
  }

  .normal{
    transform: scale(1);
    &.small{
      transform:scale(0.1);
      transform-origin: center;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &.animate-to-position {
      transition: all 0.5s ease-in-out;
    }
  }



  .vertex1{
    left:calc(50% - 280px);
    top: calc(50% - 300px);
  }

  .vertex2{
    left:calc(50% + 150px);
    top: calc(50% - 300px);
  }

  .vertex3{
    left:calc(50% - 160px);
    top: calc(50% - 180px);
  }

  .vertex4{
    left:calc(50% + 275px);
    top: calc(50% - 180px);
  }

  .vertex5{
    left:calc(50% + 275px);
    top: calc(50% + 260px);
  }

.line-svg-line-icon.bottom-line {
  position: absolute;
  top: 67%;

  .svg-line-a {
    fill: none;
    stroke: #000;
    opacity: 0.7;
  }

  .svg-line-b {
    opacity: 0.8;
  }
}

.line-svg-line-icon.top-line {
  position: absolute;
  top: 8%;

  .svg-line-a {
    fill: none;
    stroke: #000;
    opacity: 0.7;
  }

  .svg-line-b {
    opacity: 0.8;
  }
}

.transform-rotate {
  transform: rotate(90deg) scale(1.3);
}

.text-svg-line-icon {
  position: absolute;
  top: 45%;
  opacity: 1;
  transition: opacity 0.3s ease;
  
  &.hidden {
    opacity: 0;
  }
}

.text-svg-line-icon-2 {
  position: absolute;
  top: 50%;
  opacity: 1;
  transition: opacity 0.3s ease;
  
  &.hidden {
    opacity: 0;
  }
}

.text-svg-line-icon-3 {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  &.visible {
    opacity: 1;
  }
}

.content-container {
  pointer-events: auto;
  display: contents;
}